In [1]:
filename = ["samples\\Learn how to practice the 9 facial expressions for Bharata Natyam, Indian traditional dance.mp4", 
            "samples\\NAVRASA - Breezing and Visiting the 9 Rasas (emotions).mp4",
            "samples\\Whenever you feel angry, just listen to this story!!.mp4",
           "samples\\INSTAGRAM VIRAL EMOJI FACE REELS _ VIRAL REELS _ TRENDING VIRAL INSTAGRAM REELS _ EMOJI FACE.mp4",
           "samples\\WhatsApp Video 2021-04-01 at 13.44.21.mp4"]

In [2]:
from fer import Video
from fer import FER
import pandas
video = Video(filename[4])
# Analyze video, displaying the output
# Analyze video, displaying the output
detector = FER(mtcnn=True)
raw_data = video.analyze(detector, display=True)
df = video.to_pandas(raw_data)

WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\compat\v2_compat.py:96: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\keras\engine\training.py:2325: UserWarning: `Model.state_updates` will be removed in a future version. This property should not be used in TensorFlow 2.0, as `updates` are applied automatically.
  warnings.warn('`Model.state_updates` will be removed in a future version. '
01-04-2021:13:55:11,359 INFO     [classes.py:210] 21.22 fps, 317 frames, 14.94 seconds
01-04-2021:13:55:11,360 INFO     [classes.py:218] Making directories at output
01-04-2021:13:55:11,362 INFO     [classes.py:344] Deleted pre-existing output\WhatsApp Video 2021-04-01 at 13.44.21_output.mp4
01-04-2021:13:57:38,434 INFO     [classes.py:312] Completed analysis: saved to output\WhatsApp Video 2021-04-01 at 13.44.21_output.mp4

Starting to Zip
Compressing: 17%
Compressing: 34%
Compressing: 51%
Compressing: 68%
Compressing: 85%
Zip has finished

In [3]:
df

,box,angry,disgust,fear,happy,sad,surprise,neutral
0,"(346, 386, 409, 409)",0.24,0.00,0.11,0.01,0.07,0.01,0.57
1,"(348, 385, 410, 410)",0.21,0.00,0.11,0.01,0.05,0.01,0.62
2,"(351, 382, 410, 410)",0.21,0.00,0.08,0.01,0.07,0.01,0.63
3,"(338, 359, 438, 438)",0.12,0.00,0.07,0.01,0.05,0.01,0.73
4,"(352, 373, 418, 418)",0.24,0.00,0.06,0.00,0.06,0.01,0.63
...,...,...,...,...,...,...,...,...
288,"(141, 285, 468, 468)",0.04,0.00,0.04,0.87,0.02,0.00,0.03
289,"(110, 257, 558, 558)",0.07,0.00,0.04,0.77,0.06,0.00,0.05
290,"(112, 254, 555, 555)",0.08,0.02,0.03,0.76,0.06,0.00,0.05
291,"(138, 251, 509, 509)",0.03,0.00,0.05,0.81,0.06,0.00,0.04
292,"(158, 247, 459, 459)",0.04,0.00,0.19,0.63,0.05,0.02,0.05

In [4]:
df.describe()

,angry,disgust,fear,happy,sad,surprise,neutral
count,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000,293.000000
mean,0.120819,0.000785,0.073413,0.117372,0.211126,0.004642,0.469693
std,0.058573,0.003268,0.041097,0.239492,0.116550,0.009560,0.202013
min,0.010000,0.000000,0.010000,0.000000,0.010000,0.000000,0.000000
25%,0.080000,0.000000,0.040000,0.010000,0.140000,0.000000,0.370000
50%,0.110000,0.000000,0.070000,0.020000,0.200000,0.000000,0.530000
75%,0.160000,0.000000,0.100000,0.050000,0.260000,0.010000,0.610000
max,0.380000,0.020000,0.250000,0.960000,0.700000,0.100000,0.810000